# Project
## Analysis of tips data
## Student: Vitalijs Smirniovs
## ID: G00317774

In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
np.cos(10)

-0.8390715290764524

In [5]:
np.cos?

In [8]:
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
type(tips)

pandas.core.frame.DataFrame

In [13]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [29]:
#tips["total_bill"]

In [30]:
#tips["total_bill"].head()
df.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [17]:
#here is the mean of the tip
tips["tip"].mean()

2.9982786885245902

In [18]:
# median of a tip
tips["tip"].median()

2.9

In [19]:
#mode of a tip 
tips["tip"].mode()

0    2.0
dtype: float64

In [20]:
tips["smoker"].unique()

[No, Yes]
Categories (2, object): [No, Yes]

In [16]:
# data set by the sex column
grsex = df.groupby("sex")

In [17]:
grsex.head()

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3

In [23]:
group.first()

        total_bill   tip smoker  day    time  size
sex
Male         10.34  1.66     No  Sun  Dinner     3
Female       16.99  1.01     No  Sun  Dinner     2

In [19]:
grsmoker = df.groupby("smoker")

In [21]:
grsmoker.first()

        total_bill   tip     sex  day    time  size
smoker
Yes          38.01  3.00    Male  Sat  Dinner     4
No           16.99  1.01  Female  Sun  Dinner     2

In [27]:
group.last()

        total_bill   tip smoker   day    time  size
sex
Male         17.82  1.75     No   Sat  Dinner     2
Female       18.78  3.00     No  Thur  Dinner     2

In [28]:
group.sum()

        total_bill     tip  size
sex
Male       3256.82  485.07   413
Female     1570.95  246.51   214

In [22]:
grsex.mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

In [25]:
# in this cell I using describe for 2 groups smoker and sex to compare tip and size within male and female group
print(df.pivot(columns = 'smoker').describe())

print(df.pivot(columns = 'sex').describe())

       total_bill                    tip                   size
smoker        Yes          No        Yes          No        Yes          No
count   93.000000  151.000000  93.000000  151.000000  93.000000  151.000000
mean    20.756344   19.188278   3.008710    2.991854   2.408602    2.668874
std      9.832154    8.255582   1.401468    1.377190   0.810751    1.017984
min      3.070000    7.250000   1.000000    1.000000   1.000000    1.000000
25%     13.420000   13.325000   2.000000    2.000000   2.000000    2.000000
50%     17.920000   17.590000   3.000000    2.740000   2.000000    2.000000
75%     26.860000   22.755000   3.680000    3.505000   3.000000    3.000000
max     50.810000   48.330000  10.000000    9.000000   5.000000    6.000000
       total_bill                    tip                   size
sex          Male     Female        Male     Female        Male     Female
count  157.000000  87.000000  157.000000  87.000000  157.000000  87.000000
mean    20.744076  18.056897    3.089618   2.833448    2.630573   2.459770
std      9.246469   8.009209    1.489102   1.159495    0.955997   0.937644
min      7.250000   3.070000    1.000000   1.000000    1.000000   1.000000
25%     14.000000  12.750000    2.000000   2.000000    2.000000   2.000000
50%     18.350000  16.400000    3.000000   2.750000    2.000000   2.000000
75%     24.710000  21.520000    3.760000   3.500000    3.000000   3.000000
max     50.810000  44.300000   10.000000   6.500000    6.000000   6.000000

In [38]:
sns.distplot(tips["tip"])

NameError: name 'tips' is not defined